*{
    max-width: 1200px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    background-color: rgb(239, 132, 58);
    position: fixed;
    top: 0;
}

h2 {
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
        height: 20px;
        width: 350px;
        border: 2px solid black;
        border-top: none;
        border-left: none;
        border-right: none;
        
}

.icone {
    width: 20px;
    
}


.container-do-search {
    
    margin-top: 50px;
    height: 30px;
    text-align: center;
}

main{
    height: 81vh;
    display:grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin: 5px;
}



main>.item{

    margin: 5px;
    border: 2px solid green;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 20vh;
}

main>.item>img{
    width: 14vw;
    height: 17vh;

}

main>div>a{
    
    padding: 5px 100px;
    text-decoration: none;
}

footer{
    width: 100%;
    background-color: rgb(239, 132, 58);
    position: fixed;
    bottom: 5px;
}

article{
    text-align: center;
    padding-top: 150px;
}

.video1{
    width: 50vw;
}
.video2{
    width: 50vw;
}